@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700');

body{
  background:#D5F2DD;
  font-family:'Lexend';
}

a{
  color:#3C78D8;
  text-decoration:none;
}
