@import url('https://fonts.googleapis.com/css2?family=Lexend');

body{
  background:#D5F2DD;
  font-family:'Lexend';
  padding:0 5em;
}

a{
  color:#3C78D8;
  text-decoration:none;
}

.gallery{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.gallery-item{
  margin:0.5em;
  border:0.1em solid #0C4466;
  width:10em;
}

.gallery-item img{
  width:100%;
}

.gallery-item div{
  font-size:small;
  padding:1em;
  text-align:center;
}
