@import url('https://fonts.googleapis.com/css2?family=Lexend');

body{
  background:#D5F2DD;
  font-family:'Lexend';
  padding:2em 5em;
}

a{
  color:#3C78D8;
  text-decoration:none;
}

.gallery{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.gallery-image{
  margin:0.5em;
  width:15em;
}

.gallery-video{
  margin:0.5em;
  width:45em;
}

.gallery-image img,
.gallery-video video{
  width:100%;
  border:0.1em solid #0C4466;
}

.gallery-image div,
.gallery-video div{
  font-size:small;
  padding:1em;
  text-align:center;
}
